.corp-header {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-top: 20px;

    border-bottom: 1px solid $gray-1;
  }

  &-title,
  &-role-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    font-size: 26px;
    font-weight: 600;
    color: $blue-100;
  }

  &-subinfo {
    text-align: right;
  }

  &-role {
    @extend .segoe-regular;
    margin-bottom: 24px;

    font-size: 18px;
    color: $yellow-100;
    text-align: right;
  }

  &-inheritance {
    @extend .segoe-regular;
    margin-bottom: 17px;

    font-size: 18px;
    color: $blue-100;
  }
}