/**  Copyright 2020 MonetaGo, Inc.  All Rights Reserved.
*  This code is copyrighted material that is confidential andproprietary to MonetaGo, Inc.
*  and may not (in whole or in part) be published, publicly displayed,copied, modified or
*  used in any way other than as expressly permitted in a writtenagreement executed by
*  MonetaGo, Inc.  No portion of this code may be used to createderivative works or exploited
*  in any other way without MonetaGo, Inc.’s prior written consent.  Noportion of this code
*  may be transmitted or redistributed to any person without MonetaGo,Inc.’s prior written
*  consent. This notice may not be deleted or modified without MonetaGo,Inc.’s consent.
*/

.notif {
  &-wrapper {
    font-weight: 600;
    color: $white;

    &:before {
      content: '';

      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100vw;
      height: 100vh;
    }

    &.ui.segment {
      position: fixed;
      top: 13%;
      left: 40%;
      z-index: 1000;

      // transform: translateX(-50%, 0);
    }
  }

  &-success {
    &.ui.segment {
      background-color: $green-200;
    }
  }

  &-failure {
    &.ui.segment {
      background-color: $red-300;
    }
  }
}

.notification {
  &-wrapper {
    font-weight: 600;
    color: $white;

    &:before {
      content: '';

      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100vw;
      height: 100vh;
    }

    &.ui.segment {
      position: fixed;
      top: 8%;
      right: 8%;
      z-index: 1000;

      // transform: translateX(-50%, 0);
    }
  }

  &-success {
    &.ui.segment {
      color: $green-400;

      border: 1px solid $green-400;
    }
  }

  &-failure {
    &.ui.segment {
      padding-bottom: 40px;

      color: $red-400;

      border: 1px solid $red-400;
    }
  }
}
